/* 公共属性样式 */
/* 测试工具 */
.bd {
  border: 1px solid red;
}
/* 版心 */
.container {
  width: 1200px;
  margin: 0 auto;
}
/* 浮动 */
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: '';
  height: 0;
  display: block;
  clear: both;
}
/* 公共模块样式 */
/* 头部导航 */
.header {
  width: 100%;
  min-width: 1200px;
  height: 66px;
  border-bottom: 1px solid #aec7ec;
  position: relative;
}
.header .header-logo {
  position: absolute;
  left: 32px;
  top: 19px;
  height: 30px;
  cursor: pointer;
}
.header .header-selection {
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 160px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .header-selection a {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 19px;
}
.header .header-selection :first-child {
  border-bottom: 2px solid #fff;
}
.header .header-button {
  position: absolute;
  right: 30px;
  top: 20px;
}
.header .header-button a {
  font-size: 12px;
  border-radius: 13px;
  box-sizing: border-box;
  text-align: center;
  line-height: 24px;
  display: inline-block;
}
.header .header-button .header-login {
  color: #444;
  width: 58px ;
  height: 26px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.header .header-button .header-logup {
  color: #fff;
  background-color: #ed510a;
  width: 78px ;
  height: 26px;
}
.header .header-button a:hover {
  opacity: 0.5;
}
