/* 清除默认样式 */
* {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
  /* 清除图片底部间隙 */
}
ul {
  list-style: none;
  /* 清除列表前面样式 */
}
a {
  text-decoration: none;
  /* 去掉下划线 */
}
/* 重新设置样式 */
/* 公共属性样式 */
/* 测试工具 */
.bd {
  border: 1px solid red;
}
/* 版心 */
.container {
  width: 1200px;
  margin: 0 auto;
}
/* 浮动 */
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: '';
  height: 0;
  display: block;
  clear: both;
}
/* 公共模块样式 */
/* 头部导航 */
.header {
  width: 100%;
  min-width: 1200px;
  height: 66px;
  border-bottom: 1px solid #aec7ec;
  position: relative;
}
.header .header-logo {
  position: absolute;
  left: 32px;
  top: 19px;
  height: 30px;
  cursor: pointer;
}
.header .header-selection {
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 160px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .header-selection a {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 19px;
}
.header .header-selection :first-child {
  border-bottom: 2px solid #fff;
}
.header .header-button {
  position: absolute;
  right: 30px;
  top: 20px;
}
.header .header-button a {
  font-size: 12px;
  border-radius: 13px;
  box-sizing: border-box;
  text-align: center;
  line-height: 24px;
  display: inline-block;
}
.header .header-button .header-login {
  color: #fff;
  width: 58px ;
  height: 26px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.header .header-button .header-logup {
  color: #fff;
  background-color: #ed510a;
  width: 78px ;
  height: 26px;
}
.header .header-button a:hover {
  opacity: 0.5;
}
.title {
  font-size: 40px;
  line-height: 60px;
  color: #181818;
  font-weight: normal;
}
.links {
  font-size: 12px;
  line-height: 32px;
  color: #1271ef;
  margin-bottom: 34px;
}
.descript {
  font-size: 14px;
  line-height: 24px;
  color: #666;
  font-weight: normal;
}
/* 底部信息 */
.foot {
  height: 330px;
  padding-bottom: 19px;
  position: relative;
  box-sizing: border-box;
}
.foot dl {
  width: 720px;
  height: 236px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 16px;
}
.foot dl dt {
  font-size: 14px;
  color: #181818;
  line-height: 68px;
}
.foot dl dd {
  font-size: 12px;
  line-height: 28px;
  color: #b3b3b3;
  cursor: pointer;
}
.foot .QR {
  width: 110px;
  height: 210px;
  position: absolute;
  right: 0;
  top: 16px;
  text-align: right;
}
.foot .QR h5 {
  font-size: 16px;
  line-height: 28px;
  padding-top: 21px;
  color: #181818;
  font-weight: normal;
}
.foot .QR p {
  font-size: 12px;
  line-height: 27px;
  margin-bottom: 24px;
  color: #c0c0c0;
}
.foot .rights {
  height: 21px;
  margin-top: 38px;
  font-size: 14px;
  line-height: 20px;
  color: #d1d1d1;
  position: absolute;
  bottom: 19px;
}
.foot .rights img {
  margin-right: 6px;
}
.foot .rights span {
  margin-right: 6px;
}
.foot .rights .right-span {
  position: absolute;
  right: 0;
  margin-right: 0;
}
.banner {
  height: 680px;
  width: 100%;
  min-width: 1200px;
  position: relative;
  z-index: -1;
  top: -66px;
}
.banner .outer {
  margin: 0 auto;
  height: 680px;
  width: 100%;
}
.banner .outer .img-list :first-child {
  background-image: url(../../assets/images/banner1.png);
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}
.banner .outer .img-list :last-child {
  background-image: url(../../assets/images/banner3.png);
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}
.banner .outer .img-list :nth-child(2) {
  background-image: url(../../assets/images/banner2.png);
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}
.banner .outer .img-list li {
  position: absolute;
  height: 680px;
  width: 100%;
  overflow: hidden;
}
.banner .outer .img-list .current {
  z-index: 1;
  display: block;
}
.banner .outer .prev-img {
  width: 60px;
  height: 90px;
  background-color: black;
  position: absolute;
  left: 0;
  top: 290px;
  z-index: 1;
  opacity: 0.2;
  font-size: 60px;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  background-image: url('../../assets/images/ad_ctr.png');
}
.banner .outer .next-img {
  width: 60px;
  height: 90px;
  background-color: black;
  position: absolute;
  right: 0;
  top: 290px;
  z-index: 1;
  opacity: 0.2;
  overflow: hidden;
  cursor: pointer;
  background-image: url('../../assets/images/ad_ctr.png');
  background-position: -3px -90px;
}
.banner .outer .dot-list {
  width: 70px;
  z-index: 10;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.banner .outer .dot-list a {
  background-color: #000;
  opacity: 0.3;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
}
.banner .outer .dot-list .currentBtn {
  background-color: blue;
}
/* 云服务 */
.service {
  width: 1080px;
  height: 560px;
  margin: 0 auto;
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}
.service .title {
  position: absolute;
  top: 41px;
}
.service .descript {
  position: absolute;
  top: 98px;
}
.service .links {
  position: absolute;
  top: 130px;
}
.service .service-container {
  width: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 180px;
}
.service .service-container div {
  height: 280px;
  width: 240px;
  box-shadow: 1px 4px 8px 0 rgba(18, 113, 239, 0.6);
}
.service .service-container div h6 {
  font-size: 22px;
  color: #181818;
  line-height: 34px;
  padding-left: 22px;
  font-weight: normal;
}
.service .service-container div p {
  font-size: 12px;
  color: #666;
  line-height: 24px;
  padding-left: 22px;
}
.service .service-container div span {
  display: block;
  font-size: 12px;
  line-height: 31px;
  color: #1271ef;
  padding-left: 22px;
  padding-bottom: 13px;
  margin-top: 10px;
}
.api-service-outer {
  height: 642px;
  width: 100%;
  background: url(../../assets/images/more-api-bg.svg) center top no-repeat #f8f9fb;
}
.api-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 642px;
}
.api-service .title {
  position: absolute;
  top: 70px;
}
.api-service .descript {
  position: absolute;
  top: 132px;
}
.api-service .links {
  position: absolute;
  top: 172px;
}
.api-service .api-container1 {
  position: absolute;
  top: 218px;
}
.api-service .api-container2 {
  position: absolute;
  top: 376px;
}
.api-service .api-container1,
.api-service .api-container2 {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.api-service .api-container1 div,
.api-service .api-container2 div {
  width: 224px;
  height: 138px;
  text-align: center;
  box-shadow: 1px 4px 8px 0 rgba(18, 113, 239, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.api-service .api-container1 div img,
.api-service .api-container2 div img {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 36px;
}
.api-service .api-container1 div p,
.api-service .api-container2 div p {
  font-size: 16px;
  color: #181818;
  position: absolute;
  bottom: 34px;
}
.api-service .bottomP {
  position: absolute;
  bottom: 68px;
}
.api-service .bottomP span {
  color: #1271ef;
  cursor: pointer;
}
.apimaster {
  width: 1200px;
  height: 702px;
  padding-top: 76px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.apimaster .title {
  position: absolute;
  top: 70px;
}
.apimaster .descript {
  position: absolute;
  top: 132px;
}
.apimaster .links {
  position: absolute;
  top: 172px;
}
.apimaster .bar-list {
  width: 507px;
  height: 546px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.apimaster .bar-list li {
  position: relative;
  width: 487px;
  height: 48px;
  padding: 15px 0 18px 20px;
  background-color: #fbfbfd;
}
.apimaster .bar-list li .line {
  position: absolute;
  width: 4px;
  height: 24px;
  left: 0px;
  top: 28px;
  background-color: #1271ef;
}
.apimaster .bar-list li p {
  line-height: 26px;
  color: #333;
  font-size: 18px;
}
.apimaster .bar-list li p img {
  padding-bottom: 6px;
}
.apimaster .bar-list li .detail {
  line-height: 22px;
  color: #666;
  font-size: 12px;
}
.apimaster .content-img {
  width: 613px;
  height: 596px;
  background-image: url(../../assets/images/master-left-bg.svg);
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* 合作公司 */
.corporation {
  width: 1903px;
  height: 456px;
  padding-top: 94px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.corporation .links {
  position: absolute;
  top: 154px;
}
.corporation .content-bc1,
.corporation .content-bc2,
.corporation .content-bc3 {
  height: 270px;
  width: 100%;
  background-color: #f8f9fb;
  position: absolute;
  top: 280px;
  opacity: 0;
  transition: opacity 0.7s;
}
.corporation .content-bc1 .content,
.corporation .content-bc2 .content,
.corporation .content-bc3 .content {
  height: 270px;
  position: relative;
  display: block;
}
.corporation .content-bc1 .content .yinhao,
.corporation .content-bc2 .content .yinhao,
.corporation .content-bc3 .content .yinhao {
  position: relative;
  top: -20px;
  margin-bottom: 10px;
}
.corporation .content-bc1 .content p,
.corporation .content-bc2 .content p,
.corporation .content-bc3 .content p {
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 24px;
}
.corporation .content-bc1 .content .arthor,
.corporation .content-bc2 .content .arthor,
.corporation .content-bc3 .content .arthor {
  font-size: 12px;
  line-height: 24px;
  position: absolute;
  right: 0;
}
.corporation .content-bc1 .content .arthor .line,
.corporation .content-bc2 .content .arthor .line,
.corporation .content-bc3 .content .arthor .line {
  content: '';
  position: absolute;
  left: -20px;
  top: 10px;
  width: 13px;
  height: 4px;
  font-size: 12px;
  background-color: #1271ef;
}
.corporation .content-bc1 .content .logo,
.corporation .content-bc2 .content .logo,
.corporation .content-bc3 .content .logo {
  width: 580px;
  height: 290px;
  position: relative;
  top: -20px;
  margin-right: 70px;
}
.corporation .current-content {
  z-index: 1;
  opacity: 1;
}
/* 数据安全 */
.data-safe {
  height: 280px;
  margin-top: 96px;
  padding-bottom: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.data-safe .links {
  line-height: 54px;
  margin-bottom: 0px;
}
.data-safe .img-list {
  height: 142px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.data-safe .img-list li {
  width: 200px;
  height: 142px;
  text-align: center;
}
.data-safe .img-list li p {
  font-size: 12px;
  line-height: 52px;
}
.data-safe .img-list :nth-child(3),
.data-safe .img-list :nth-child(4),
.data-safe .img-list :nth-child(5) {
  padding-top: 20px;
}
/* 立即体验 */
.exp {
  height: 176px;
  padding-top: 64px;
  width: 100%;
  background: url(../../assets/images/login-register-bg.svg) #1271ef;
  text-align: center;
}
.exp h3 {
  font-size: 32px;
  color: #fff;
  margin-bottom: 22px;
  font-weight: normal;
}
.exp .exp-box {
  display: block;
  width: 128px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 12px;
  border: 1px solid #fff;
  margin: 0 auto;
}
/* 回到顶部按钮 */
.return-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: fixed;
  left: 50%;
  bottom: 20px;
  margin-left: 650px;
  background: url(../../assets/images/returntopicon.jpg) no-repeat;
  background-position: -163px -56px;
  cursor: pointer;
  z-index: 10;
  display: none;
}
