@import '../../assets/css/normalize.less';
@import '../../assets/css/common.less';

.banner {
    height: 680px;
    width: 100%;
    min-width: 1200px;
    position: relative;
    z-index: -1;
    top: -66px;

    .outer {
        margin: 0 auto;
        height: 680px;
        width: 100%;

        .img-list {
            :first-child {
                background-image: url(../../assets/images/banner1.png);
                background-position: center;
                background-repeat: no-repeat;
                display: none;
            }

            :last-child {
                background-image: url(../../assets/images/banner3.png);
                background-position: center;
                background-repeat: no-repeat;
                display: none;
            }

            :nth-child(2) {
                background-image: url(../../assets/images/banner2.png);
                background-position: center;
                background-repeat: no-repeat;
                display: none;
            }

            li {
                position: absolute;
                height: 680px;
                width: 100%;
                overflow: hidden;
            }

            .current {
                z-index: 1;
                display: block;
            }
        }

        .prev-img {
            width: 60px;
            height: 90px;
            background-color: black;
            position: absolute;
            left: 0;
            top: 290px;
            z-index: 1;
            opacity: .2;
            font-size: 60px;
            color: #fff;
            overflow: hidden;
            cursor: pointer;
            background-image: url('../../assets/images/ad_ctr.png');
        }

        .next-img {
            width: 60px;
            height: 90px;
            background-color: black;
            position: absolute;
            right: 0;
            top: 290px;
            z-index: 1;
            opacity: .2;
            overflow: hidden;
            cursor: pointer;
            background-image: url('../../assets/images/ad_ctr.png');
            background-position: -3px -90px;
        }

        .dot-list {
            width: 70px;
            z-index: 10;
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            a {
                background-color: #000;
                opacity: .3;
                width: 10px;
                height: 10px;
                display: block;
                border-radius: 50%;
            }

            .currentBtn {
                background-color: blue;
            }
        }
    }

}

/* 云服务 */

.service {
    width: 1080px;
    height: 560px;
    margin: 0 auto;
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-sizing: border-box;

    h3 {
        font-size: 40px;
        line-height: 60px;
        color: #181818;
        font-weight: normal;
        position: absolute;
        top: 41px;
    }

    h5 {
        font-size: 14px;
        line-height: 24px;
        color: #666;
        font-weight: normal;
        position: absolute;
        top: 98px;
    }

    a {
        font-size: 12px;
        line-height: 32px;
        color: #1271ef;
        margin-bottom: 34px;
        position: absolute;
        top: 130px;
    }

    .service-container {
        width: 1080px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 180px;

        div {
            height: 280px;
            width: 240px;
            box-shadow: 1px 4px 8px 0 rgba(18, 113, 239, 0.6);

            h6 {
                font-size: 22px;
                color: #181818;
                line-height: 34px;
                padding-left: 22px;
                font-weight: normal;
            }

            p {
                font-size: 12px;
                color: #666;
                line-height: 24px;
                padding-left: 22px;
            }

            span {
                display: block;
                font-size: 12px;
                line-height: 31px;
                color: #1271ef;
                padding-left: 22px;
                padding-bottom: 13px;
                margin-top: 10px;
            }
        }
    }

}

.api-service-outer {
    height: 642px;
    width: 100%;
    background: url(../../assets/images/more-api-bg.svg) center top no-repeat #f8f9fb;
}

.api-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 642px;

    h3 {
        font-size: 40px;
        line-height: 60px;
        color: #181818;
        font-weight: normal;
        position: absolute;
        top: 70px;
    }

    h5 {
        font-size: 14px;
        line-height: 24px;
        color: #666;
        font-weight: normal;
        position: absolute;
        top: 132px;
    }

    a {
        font-size: 12px;
        line-height: 32px;
        color: #1271ef;
        margin-bottom: 34px;
        position: absolute;
        top: 172px;
    }

    .api-container1 {
        position: absolute;
        top: 218px;
    }

    .api-container2 {
        position: absolute;
        top: 376px;
    }

    .api-container1,
    .api-container2 {
        width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div {
            width: 224px;
            height: 138px;
            text-align: center;
            box-shadow: 1px 4px 8px 0 rgba(18, 113, 239, 0.6);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
                width: 36px;
                height: 36px;
                position: absolute;
                top: 36px
            }

            p {
                font-size: 16px;
                color: #181818;
                bottom: 34px;
            }
        }
    }

    .bottomP {
        position: absolute;
        bottom: 68px;

        span {
            color: #1271ef;
            cursor: pointer;
        }
    }
}

//慧集 / APIMaster
.apimaster {
    width: 1200px;
    height: 702px;
    padding-top: 76px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    h3 {
        font-size: 40px;
        line-height: 60px;
        color: #181818;
        font-weight: normal;
        position: absolute;
        top: 70px;
    }

    h5 {
        font-size: 14px;
        line-height: 24px;
        color: #666;
        font-weight: normal;
        position: absolute;
        top: 132px;
    }

    a {
        font-size: 12px;
        line-height: 32px;
        color: #1271ef;
        margin-bottom: 34px;
        position: absolute;
        top: 172px;
    }

    .bar-list {
        width: 507px;
        height: 546px;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        li {
            position: relative;
            width: 487px;
            height: 48px;
            padding: 15px 0 18px 20px;
            background-color: #fbfbfd;
            .line {
                position: absolute;
                width: 4px;
                height: 24px;
                left: 0px;
                top: 28px;
                background-color: #1271ef;
            }
            p{
                line-height: 26px;
                color: #333;
                font-size: 18px;
                img{
                    padding-bottom: 6px;
                }
            }
            .detail{
                line-height: 22px;
                color: #666;
                font-size: 12px;
            }
        }

    }

    .content-img {
        width: 613px;
        height: 596px;
        background-image: url(../../assets/images/master-left-bg.svg);
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}